<aside id="sidebar"<% if (theme.sidebar === 'bottom'){ %> class="outer"<% } %>>

<div class="widget-wrap">
              <h3 class="widget-title">Número de Visitas</h3>
              <div class="widget">
                <ul style="text-align: center">          
                  
                      <li>
                            <span id="visit" style="font-size:20px"></span>
                      </li>
               </ul>
              </div>
            </div>
            
  <% theme.widgets.forEach(function(widget){ %>
    <%- partial('_widget/' + widget) %>
  <% }) %>

</aside>
